body {
    background: linear-gradient(135deg, #7d5b90, #c696e2);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 40px 0;
    color: #fff;
}

.container {
    max-width: 700px;
    margin: auto;
    background: rgba(255, 255, 255, 0.13);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.upload-area {
    margin-top: 20px;
    padding: 20px;
    background: #ffffff20;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.upload-label {
    background: #fff;
    color: #4a4a4a;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.upload-label:hover {
    background: #dedede;
}

.upload-label input {
    display: none;
}

#fileName {
    opacity: 0.8;
}

.text-box {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px 18px;
}

textarea {
    margin-top: 8px;
    width: 100%;
    height: 150px;
    padding: 15 15 15 15px;
    border-radius: 12px;
    border: none;
    resize: none;
    font-size: 15px;
}

.analyze-btn {
    margin-top: 20px;
    width: 100%;
    background: #fff;
    color: #4a4a4a;
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.analyze-btn:hover {
    background: #dedede;
}

.result-box {
    margin-top: 30px;
    background: #ffffff22;
    padding: 20px;
    border-radius: 14px;
}

.result-field {
    background: #ffffff33;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
